---
layout: default
---
<h1>{{ page.title }}</h1>

<h2>{{ page.subtitle }}</h2>
<img style="float: center" src="{{page.photo}}">
<div>{{ page.sections['name'] | textilize }}</div>
<div>{{ page.sections['birthday'] | textilize }}</div>
<div>{{ page.sections['email'] | textilize }}</div>

<h2>{{ page.education }}</h2>
<div>
  {% for skola in page.sections.skoly %}
    <div>{{ skola['nazov'] | textilize }}</div>
    {% if skola.odbor != nil %}
      <div>{{ skola['odbor'] | textilize }}</div>
    {% endif %}
    <div>{{ skola['roky'] | textilize }}</div>
    <p></p>
  {% endfor %}
</div> 

<h2>{{ page.skills }}</h2>
<div>
  {% for skl in page.sections.skill %}
    <div>{{ skl | textilize }}</div>
  {% endfor %}
</div>
  
{% if page.sections.experiences != nil %}
  <h2>{{ page.experience }}</h2>
  <div>
    {% for experience in page.sections.experiences %}
      <div>{{ experience | textilize }}</div>
    {% endfor %}
   </div>
{% endif %}
